:javascript
  $(function() {
    console.log('starting...');
    window.app = new Pat.Routers.ConcernsRouter({concerns: #{@concerns.to_json.html_safe}});
    Backbone.history.start();
  });
#concerns
