// Place all the styles related to the Concerns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

abbr{
  text-transform:none;
}

h1 .status{
  float:right;
  line-height:15px;
  font-size:50%;
}

span.status.Closed {
   background-color: #468847;
}

span.status.Open {
   background-color: #F89406;
}
