.when-updated{
  text-transform:none;
  margin:0 0 20px 3px;
  .user-id{
    display:inline;
  }
}

div.state-toggle{
  float:right;
  margin-bottom:1em;
  .active{
    border: 1px solid black;
  }
}

.navbar-search{
  .linktext{
    overflow:hidden;
    width:69%;
    text-overflow:ellipsis;
  }
  .label{
    float: right;
    line-height: 8px;
    padding: 2px;
    display: block;
    margin-bottom: -10px;
    top: -15px;
    position: relative;
    padding-bottom: 3px;
  }
}

.navbar .nav.pull-right .dropdown-menu {
  width:250px;
}
